@charset "utf-8";

/* container */

.inner-wrap > h2 {
	font-weight: 500;
	font-size: 36px;
	color: #000;
}
.inner-wrap > p {
	font-size: 18px;
	color: #586077;
}
.visual-wrap {
	padding-top: 110px;
/*	max-height: 594px;*/
	background-color: #e7e0c8;
}
.service-wrap {
	padding: 150px 0;
}

/* +80px */

.service-list {
	margin: 50px 0 0 0;
	text-align: center;
	overflow: hidden;
}
.service-list li {
	display: inline-block;
	float: left;
	width: 33.3333333%;
	height: 475px;
}
.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-background-size: cover;
	background-size: cover;
}
.ch-img1 {
	background-image: url(../images/service-thum1.jpg);
}
.ch-img2 {
	background-image: url(../images/service-thum2.jpg);
}
.ch-img3 {
	background-image: url(../images/service-thum3.jpg);
}
.ch-item:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 100;
	top: 30%;
	left: 50%;
	margin-left: -59px;
	width: 118px;
	height: 118px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.ch-img1:before {
	background: #009cfb url(../images/service-icon1.png) 50% 50% no-repeat;
}
.ch-img2:before {
	background: #2c587f url(../images/service-icon2.png) 50% 50% no-repeat;
}
.ch-img3:before {
	background: #7fa34b url(../images/service-icon3.png) 50% 50% no-repeat;
}
.ch-info {
	position: absolute;
	padding-top: 300px;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
	/*for a smooth font */
}
.ch-info > h3 {
	padding: 10px 0;
	font-size: 24px;
	color: #fff;
}
.ch-info > p {
	width: 65%;
	margin: 0 auto;
	padding: 5px 0;
	color: #fff;
	border-top: 1px solid rgba(255, 255, 255, .5);
}
.ch-img1:hover {
	box-shadow: inset 0 0 0 200px rgba(0, 88, 141, .8);
}
.ch-img2:hover {
	box-shadow: inset 0 0 0 200px rgba(12, 48, 68, .8);
}
.ch-img3:hover {
	box-shadow: inset 0 0 0 200px rgba(32, 87, 11, .8);
}
.ch-img1:hover:before {
	background-color: #00bdfb;
}
.ch-img2:hover:before {
	background-color: #006fd2;
}
.ch-img3:hover:before {
	background-color: #1cc20b;
}
.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.solution-wrap {
	padding: 190px 0;
	background: #dbebf8 url(../images/solution-bg.jpg) 50% 0 no-repeat;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
}
.solution-list {
	margin-top: 50px;
	overflow: hidden;
}
.solution-list li {
	float: left;
	width: 20%;
	text-align: center;
}
.solution-list li > a {
	position: relative;
	display: inline-block;
	padding-top: 130px;
	width: 200px;
	height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	font-weight: 500;
	font-size: 17px;
	color: #3a566c;
	transition: background-color .5s ease;
}
.solution-list li > a:hover {
	background-color: #3b5669;
	color: #8fcfff;
}
.solution-list li > a:before {
	content: '';
	display: block;
	position: absolute;
	top: 35px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 82px;
}
.solution-list li.sol1 > a:before {
	background: url(../images/solution-icon1.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol2 > a:before {
	background: url(../images/solution-icon2.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol3 > a:before {
	background: url(../images/solution-icon3.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol4 > a:before {
	background: url(../images/solution-icon4.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol5 > a:before {
	background: url(../images/solution-icon5.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol1 > a:hover:before {
	background: url(../images/solution-icon1_on.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol2 > a:hover:before {
	background: url(../images/solution-icon2_on.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol3 > a:hover:before {
	background: url(../images/solution-icon3_on.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol4 > a:hover:before {
	background: url(../images/solution-icon4_on.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.solution-list li.sol5 > a:hover:before {
	background: url(../images/solution-icon5_on.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.check-wrap {
	padding: 150px 0;
	text-align: center;
}
.check-wrap > h2 {
	position: relative;
	font-size: 54px;
	color: #3a5668;
	padding-bottom: 20px;
}
.check-wrap > h2:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: 50%;
	margin-left: -120px;
	width: 240px;
	height: 1px;
	background-color: #a7b6bd;
}
.check-list {
	overflow: hidden;
}
.check-list li {
	float: left;
	width: 25%;
	margin-top: 50px;
}
.check-list li > a {
	display: block;
	padding: 0 3%;
	font-size: 21px;
	color: #3a5668;
}
.check-list li > a:before {
	content: '';
	display: block;
	margin-bottom: 15px;
	height: 274px;
	transition: all .45s ease;
}
.check-list li.check1 > a:before {
	background: #353744 url(../images/check-icon1.png) 50% 50% no-repeat;
}
.check-list li.check2 > a:before {
	background: #353744 url(../images/check-icon2.png) 50% 50% no-repeat;
}
.check-list li.check3 > a:before {
	background: #353744 url(../images/check-icon3.png) 50% 50% no-repeat;
}
.check-list li.check4 > a:before {
	background: #353744 url(../images/check-icon4.png) 50% 50% no-repeat;
}
.check-list li.check5 > a:before {
	background: #353744 url(../images/check-icon5.png) 50% 50% no-repeat;
}
.check-list li.check6 > a:before {
	background: #353744 url(../images/check-icon6.png) 50% 50% no-repeat;
}
.check-list li.check7 > a:before {
	background: #353744 url(../images/check-icon7.png) 50% 50% no-repeat;
}
.check-list li.check8 > a:before {
	background: #353744 url(../images/check-icon8.png) 50% 50% no-repeat;
}
.check-list li.check1 > a:hover:before {
	background: url(../images/check1.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check2 > a:hover:before {
	background: url(../images/check2.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check3 > a:hover:before {
	background: url(../images/check3.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check4 > a:hover:before {
	background: url(../images/check4.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check5 > a:hover:before {
	background: url(../images/check5.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check6 > a:hover:before {
	background: url(../images/check6.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check7 > a:hover:before {
	background: url(../images/check7.jpg) 0 0 no-repeat;
	background-size: cover;
}
.check-list li.check8 > a:hover:before {
	background: url(../images/check8.jpg) 0 0 no-repeat;
	background-size: cover;
}

/* more & close */

.more-wrap + a {
	position: relative;
	display: block;
	width: 70px !important;
	height: 70px;
	border-radius: 2px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	border: 1px solid #e4e4e4;
}
.more-wrap + a:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	background: url(../images/more-arr.png) 0 0 no-repeat;
}
.more-wrap + a.btn-close:before {
	background-position: 0 -40px;
}

/* Sub Page Layout */

.sub1-wrap,
.sub2-wrap,
.sub3-wrap,
.sub4-wrap,
.sub5-wrap,
.sub6-wrap{
	padding-top: 110px;
}
.sub1-wrap > .sub-visual-wrap {
	background-image: url(../images/sub-visual1.jpg);
}
.sub2-wrap > .sub-visual-wrap {
	background-image: url(../images/sub-visual2.jpg);
}
.sub3-wrap > .sub-visual-wrap {
	background-image: url(../images/sub-visual3.jpg);
}
.sub4-wrap > .sub-visual-wrap {
	background-image: url(../images/sub-visual4.jpg);
}
.sub5-wrap > .sub-visual-wrap {
	background-image: url(../images/sub-visual5.jpg);
}
.sub6-wrap > .sub-visual-wrap {
	background-image: url(../images/sub-visual6.jpg);
}
.vision-wrap {
	padding: 70px 0 200px;
}
.sub-tit {
	position: relative;
}
.sub-tit > h2 {
	font-weight: 500;
	font-size: 36px;
	color: #000;
}
.sub-tit > p {
	font-size: 18px;
	color: #586077;
}
.sub-tit:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 67.79661016949153%;
	height: 1px;
	background-color: #d4d7dc;
}
.length-lg:after {
	width: 83% !important;
}
.length-md2:after {
	width: 78% !important;
}
.length-md:after {
	width: 63% !important;
}
.length-sm:after {
	width: 53% !important;
}
.slogan-wrap {
	text-align: center;
}

/* w550 */

.slogan-wrap > p {
	font-weight: 300;
	font-size: 36px;
	color: #586077;
}
.ceo-icon {
	padding-top: 200px;
	background: url(../images/icon-ceo.png) 50% 60px no-repeat;
}
.slogan1 {
	width: 46.61016949152542%;
	margin: 100px auto;
}
.slogan2 {
	position: relative;
	width: 87.71186440677966%;
	margin: 100px auto;
	font-weight: 500 !important;
	color: #3a5668 !important;
}
.slogan2:before {
	content: '';
	display: block;
	position: absolute;
	top: -40px;
	left: 0;
	width: 37px;
	height: 33px;
	background: url(../images/icon-q1.png) 0 0 no-repeat;
}
.slogan2:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -40px;
	right: 0;
	width: 37px;
	height: 33px;
	background: url(../images/icon-q2.png) 0 0 no-repeat;
}
.ceo-icon:after,
.slogan1:after {
	content: '';
	display: block;
	margin: 60px auto;
	width: 42.72727272727273%;
	height: 1px;
	background-color: #a8b5bd;
}
.ceo-icon > .slogan2{
	font-size: 52px;
}
.sub-slogan{
	margin-top: -50px !important;
	font-size: 21px !important;
}

/* w235 */

.mission-list {
	text-align: center;
}
.mission-list > h3 {
	padding: 15px 0;
	background-color: #e6e6e6;
	font-size: 21px;
	color: #586077;
}
.mission {
	text-align: center;
	overflow: hidden;
}
.mission li {
	display: inline-block;
	width: 25%;
	padding: 2%;
	position: relative;
	float: left;
}
.mission li > h4 {
	margin-top: 30px;
	font-weight: 500;
	font-size: 22px;
	color: #3a5765;
}
.mission li > h4:after {
	content: '';
	display: block;
	margin: 10px auto 0;
	width: 80%;
	height: 1px;
	background-color: #c5ccd2;
}
.mission li > p {
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;
	color: #8b9ca7;
}
.greeting-list {}
.greeting-list > p {
	margin-top: 50px;
	/*padding: 0 16%;*/
	line-height: 2;
	text-align: center;
}
.greeting-list > p > strong{
	display: inline-block;
	margin: 0 0 -7px 10px;
	vertical-align: bottom;
	font-weight: 500;
	font-size: 28px;
}

/* CI소개 */

.ci-wrap {
	padding: 70px 0 200px;
}
.ci-wrap h3 {
	margin-top: 150px;
	font-weight: 500;
	font-size: 36px;
	color: #008752;
}
.ci-wrap h3 + p {
	margin-top: 20px;
	font-size: 18px;
	color: #586077;
	line-height: 36px;
}
.img-wrap {
	margin-top: 40px;
}
.btn-wrap {
	text-align: right;
	margin-top: 14px;
}
.btn-wrap a {
	display: inline-block;
	padding: 4px 10px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn-wrap a > span {
	display: inline-block;
	width: 21px;
	height: 19px;
	margin-left: 10px;
}
.pantone-wrap {
	margin-top: 40px;
	overflow: hidden;
	text-align: center;
}
.pantone-wrap > div {
	float: left;
	width: 49%;
	border: 1px solid #e2e6e9;
	margin: 0 0.5%;
}
.pantone-wrap > div > h4 {
	padding: 30px 0;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	background-color: #008752;
}
.pantone-wrap > div.pantone-blue > h4 {
	background-color: #0056b8;
}
.pantone-wrap > div > h5 {
	padding: 20px;
	font-size: 18px;
}
.pantone-wrap > div > h5 > strong {
	color: #008752;
}
.pantone-wrap > div.pantone-blue > h5 > strong {
	color: #0056b8;
}
.pantone-wrap > div ul {
	overflow: hidden;
	padding: 10px 20px 40px 20px;
}
.pantone-wrap > div li {
	float: left;
	width: 25%;
	line-height: 30px;
	font-weight: 500;
}
.pantone-wrap > div li strong {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	color: #fff;
	line-height: 30px;
}
.c-cyan {
	background-color: #00aeef;
}
.c-magenta {
	background-color: #ec008c;
}
.c-yellow {
	background-color: #fff200;
	color: #000;
}
.c-black {
	background-color: #000;
}
.ban-wrap {}
.ban-wrap > ul {
	overflow: hidden;
}
.ban-wrap > ul li {
	float: left;
	width: 33.3%;
	margin-top: 40px;
	padding: 5px;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}
.ban-img {
	display: block;
	border: 1px solid #d5d7dd;
}
.ban-wrap > ul li > p {
	padding: 15px;
	line-height: 1.2;
}

/* 연혁 */

.history-wrap {
	padding: 70px 0 200px;
}
.history-table {
	margin-top: 70px;
	overflow: hidden;
}
.history-table > h3 {
	float: left;
	width: 20%;
	margin-right: 10%;
	padding-top: 4%;
	border-top: 3px solid #eaeaea;
	font-weight: 700;
	font-size: 36px;
	color: #009cfc;
	text-align: center;
}
.history-table > ul {
	float: left;
	width: 70%;
	margin-top: 50px;
}
.history-table > ul li {
	margin-top: 10px;
	font-size: 18px;
}
.history-table > ul li strong {
	font-weight: 700;
	color: #586077;
}
.history-table > ul li strong:after {
	content: '/';
	display: inline-block;
	margin: 0 10px;
	font-weight: 300;
	color: #b7c2ca;
}

/* 오시는 길 */

.sub-wrap {
	padding: 70px 0 150px;
}
.location-info {
	margin-top: 25px;
	min-height: 109px;
	background-color: #586077;
	font-size: 18px;
	color: #fff;
}
.location-info:before {
	content: '';
	display: block;
	float: left;
	width: 116px;
	min-height: 109px;
	background: #009cfc url(../images/icon-pin.png) 50% 50% no-repeat;
}
.location-info > div {
	float: left;
	padding: 2%;
}
.location-info > div a{
	color: #fff;
}
.location-info > div > h3 {
	font-size: 20px;
}
.location-info > div > h3:before {
	content: '';
	display: inline-block;
	margin: 0 10px 5px 0;
	width: 9px;
	height: 9px;
	background-color: #fff;
}
.map-wrap {
	margin-top: 70px;
}
.traffic-info {
	margin-top: 70px;
}
.traffic-info > h3 {
	margin-top: 50px;
	font-weight: 500;
	font-size: 21px;
	color: #586077;
}
.traffic-info > h3:before {
	content: '';
	display: inline-block;
	margin-right: 15px;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #009cfc;
}
.traffic-info > ul {
	margin: 20px 0 40px 40px;
}
.traffic-info > ul li {
	margin-bottom: 15px;
	font-size: 18px;
}
.traffic-info > ul li strong {
	font-weight: 700;
}
.traffic-info > ul li strong:after {
	content: '|';
	display: inline-block;
	margin: 0 20px;
	font-weight: 300;
	color: #cbcdd2;
}

/* 고객 건강관리 */

.care-process {
	margin-top: 70px;
	padding-top: 242px;
	background: #fff url(../images/service-img1.png) 50% 0 no-repeat;
}
.care-process > span {
	display: block;
	width: 75.93220338983051%;
	margin: 0 auto;
}
.link-service {
	margin-top: 100px;
	text-align: center;
}
.link-service > h3 {
	font-weight: 500;
	font-size: 54px;
	color: #3a5668;
}
.link-service > h3:after {
	content: '';
	display: block;
	width: 46.61016949152542%;
	margin: 30px auto;
	height: 1px;
	background-color: #8b9ca7;
}
.link-service > p {
	font-size: 21px;
	color: #586077;
}
.link-service-list {
	margin-top: 50px;
	overflow: hidden;
}
.link-service-list li {
	float: left;
	width: 19%;
	min-height: 470px;
	margin-right: 1%;
	background-color: #e6e6e6;
}
.link-service-list li > h4 {
	margin-top: 30px;
	font-weight: 500;
	font-size: 20px;
	color: #3a5765;
}
.link-service-list li > h4:after {
	content: '';
	display: block;
	margin: 10px auto 0;
	width: 80%;
	height: 1px;
	background-color: #c5ccd2;
}
.link-service-list li > p {
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;
	color: #8b9ca7;
	line-height: 2;
}
.link-service-list img{
	width: 100%;
}
.cd-tabs {
	margin-top: 70px;
}
.link-service-info > .cd-tabs-navigation > li {
	width: 24.7%;
	margin-right: 0.3%;
}
.cd-tabs > .cd-tabs-navigation > li > a {
	padding: 17px 0;
	font-size: 21px;
	line-height: 1;
}
.cd-tabs > .cd-tabs-navigation > li > a:before {
	content: '';
	display: inline-block;
	margin: 0 5px 2px 0;
	border: 6px solid transparent;
	border-left-color: #586077;
}
.cd-tabs > .cd-tabs-navigation > li > a.selected:before {
	border-left-color: #fff;
}
.cd-tabs > .cd-tabs-content {
	margin-top: 40px;
	font-size: 18px;
	color: #586077;
}
.tab1-wrap {
	padding-top: 245px;
	background: url(../images/service-img2.png) 50% 0 no-repeat;
}
.tab1-wrap > p,
.tab2-wrap > p,
.tab3-wrap > p {
	font-size: 21px;
}
.tab1-wrap > ul {
	margin-top: 40px;
}
.num-list li {
	display: block !important;
	margin-top: 15px;
}
.num-list li span {
	display: inline-block;
	margin-right: 15px;
	padding: 2px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #586077;
	font-size: 15px;
	color: #fff;
}
.num-list li strong {
	display: inline-block;
	margin-right: 15px;
	font-weight: 500;
}
.tab2-wrap {
	padding-top: 245px;
	background: url(../images/service-img3.png) 50% 0 no-repeat;
}
.tab2-wrap > ul {
	margin-top: 40px;
}
.tab2-wrap > ul li {
	display: block;
}
.tab2-info {
	position: relative;
	margin-top: 100px !important;
	margin-left: 16.94915254237288%;
	padding-left: 25.42372881355932%;
}
.tab2-info:before {
	content: '';
	display: block;
	position: absolute;
	top: 50px;
	left: 0;
	width: 210px;
	height: 210px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #586077 url(../images/sub-service-icon1.png) 50% no-repeat;
}
.tab2-info li {
	margin-top: 10px;
	font-weight: 500;
}
.tab2-info-list {
	margin-top: 100px !important;
	overflow: hidden;
	text-align: center;
}
.tab2-info-list li {
	float: left;
	width: 19%;
	margin-right: 1%;
}
.tab2-info-list li:before {
	content: '';
	display: block;
	width: 220px;
	height: 240px;
	background-color: #e6e6e6;
	background-position: 50%;
	background-repeat: no-repeat;
}
.tab2-info-list li:first-child:before {
	background-image: url(../images/sub-service-icon4.png);
}
.tab2-info-list li:nth-child(2):before {
	background-image: url(../images/sub-service-icon5.png);
}
.tab2-info-list li:nth-child(3):before {
	background-image: url(../images/sub-service-icon6.png);
}
.tab2-info-list li:nth-child(4):before {
	background-image: url(../images/sub-service-icon7.png);
}
.tab2-info-list li:nth-child(5):before {
	background-image: url(../images/sub-service-icon8.png);
}
.tab2-info-list li > h4 {
	margin-top: 30px;
	font-weight: 500;
	font-size: 20px;
	color: #3a5765;
}
.tab2-info-list li > h4:after {
	content: '';
	display: block;
	margin: 30px auto 0;
	width: 80%;
	height: 1px;
	background-color: #c5ccd2;
}
.tab2-info-list li > p {
	padding: 40px 0;
	color: #8b9ca7;
	line-height: 2;
	font-weight: 400;
	font-size: 14px;
}
.tab3-wrap {
	padding-top: 245px;
	background: url(../images/service-img4.png) 50% 0 no-repeat;
}
.tab4-wrap > ul {
	overflow: hidden;
}
.tab4-wrap > ul > li {
	display: block;
}
.customer-link {
	position: relative;
	padding-bottom: 100px;
}
.customer-link:before {
	content: '';
	display: block;
	width: 210px;
	height: 210px;
	margin: 0 auto 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #586077 url(../images/sub-service-icon2.png) 50% no-repeat;
}
.customer-link:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -22%;
	width: 44%;
	height: 1px;
	background-color: #c5ccd2;
}
.customer-link li {
	margin-top: 15px;
	float: left;
	width: 16.66666666666667%;
	padding: 1%;
}
.customer-link2 {
	margin-top: 100px;
}
.customer-link2:before {
	content: '';
	display: block;
	width: 210px;
	height: 210px;
	margin: 0 auto 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #586077 url(../images/sub-service-icon3.png) 50% no-repeat;
}
.customer-link2 li {
	margin-top: 15px;
	float: left;
	width: 16.66666666666667%;
	padding: 1%;
}

/* Medical Tourism & Concierge */

.medical-wrap {
	padding: 70px 0 0;
}
.medical-wrap > p {
	font-size: 18px;
	color: #586077;
}
.medical-wrap > div {
	margin: 80px auto;
}
.medi-wrap {
	padding-top: 415px;
	background: url(../images/service-img5.png) 50% 0 no-repeat;
}
.lifrecare-list{
	text-align: center;
}
.lifrecare-list li{
	position: relative;
	display: inline-block;
	margin: 1%;
	padding-top: 59px;
	width: 189px;
	height: 189px;
	border-radius: 50%;
	background-color: #8fcfff;
	font-weight: 500;
	font-size: 24px;
	color: #3a5668;
}
.lifrecare-list li:after{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #586077 url(../images/lifecare-icon1.png) 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	transition:all .45s ease;
}
.lifrecare-list li:nth-child(2):after{
	background-image: url(../images/lifecare-icon2.png);
}
.lifrecare-list li:nth-child(3):after{
	background-image: url(../images/lifecare-icon3.png);
}
.lifrecare-list li:nth-child(4):after{
	background-image: url(../images/lifecare-icon4.png);
}
.lifrecare-list li:nth-child(5):after{
	background-image: url(../images/lifecare-icon5.png);
}

.lifrecare-list li:hover:after{
	transform: scale(0.2);
	opacity: 0;
}
.medical-wrap > div > h3 {
	font-weight: 500;
	font-size: 54px;
	color: #3a5668;
	text-align: center;
}
.medical-wrap > div > h3:after {
	content: '';
	display: block;
	margin: 30px auto 0;
	width: 46.61016949152542%;
	height: 1px;
	background-color: #c5ccd2;
}
.medical-wrap > div > ul {
	margin: 55px 0 0 25.25423728813559%;
}
.medical-wrap > div > ul li {
	font-size: 21px;
	color: #586077;
}
.medical-wrap > div > ul li:before {
	content: '-';
	display: inline-block;
	margin-right: 10px;
}

/* Online mall */

.mall-wrap {
	padding: 70px 0 0;
	text-align: center;
}
.mall-wrap > p {
	font-size: 18px;
	color: #586077;
	text-align: left;
}
.mall-wrap > div {
	margin: 80px auto;
}
.mall-wrap > div > h3:after {
	content: '';
	display: block;
	margin: 30px auto 0;
	width: 46.61016949152542%;
	height: 1px;
	background-color: #c5ccd2;
}
.pnt-wrap > h3 > span {
	display: inline-block;
	width: 119px;
	height: 113px;
}
.pntmall-wrap > h3 > span {
	display: inline-block;
	width: 331px;
	height: 75px;
}
.pnt-wrap > p {
	margin-top: 80px;
	font-size: 21px;
	text-align: center;
	padding: 0 18.30508474576271%;
}
.pnt-wrap > p > strong {
	display: block;
}
.pnt-wrap > p > strong > i {
	font-weight: 500;
	font-size: 40px;
	vertical-align: baseline;
}
.btn-pnt {
	display: inline-block;
	width: 36%;
	min-height: 37px;
	margin: 40px auto 100px;
	text-align: center;
	background: url(../images/bullet1.png) 0 50% no-repeat;
	border: 1px solid #ff7516;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	line-height: 37px;
	font-size: 21px;
}
.pntmall-wrap ul {
	margin: 0 18.30508474576271%;
}
.pntmall-wrap li {
	margin-top: 20px;
	font-size: 21px;
	color: #586077;
	text-align: left;
}
.pntmall-wrap li:before {
	content: '';
	display: inline-block;
	margin-right: 15px;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #ff7516;
}
.mall-wrap > div .img-wrap > span {
	display: inline-block;
	width: 727px;
}

/* 솔루션 */

.smart-after-info > .cd-tabs-navigation > li {
	width: 33%;
	margin-right: 0.3%;
}
.sub-solution-wrap {
	margin-top: 70px;
	overflow: hidden;
}
.tab-con {
	float: left;
	width: 49%;
	margin: 30px 0.5%;
}
.tab-con > h3 {
	padding: 10px 0;
	font-weight: 500;
	font-size: 21px;
	color: #586077;
	background-color: #e6e6e6;
	text-align: center;
}
.tab-con > ul {
	margin: 20px 0 0 40px;
}
.tab-con > ul > li {
	margin-bottom: 15px;
	font-size: 18px;
	color: #586077;
	line-height: 1.2;
}
.tab-con > ul > li:before {
	content: '';
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 10px;
	width: 5px;
	height: 5px;
	background-color: #586077;
	border-radius: 3px;
}
.tab-wrap{
	text-align: center;
}
.tab-wrap > div{
	position: relative;
	display: inline-block;
	padding-top: 240px;
	width: 40%;	
}
.tab-wrap > div:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -105px;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	background-color: #586077;
	background-position: 50%;
	background-repeat: no-repeat;
}
.tab-wrap > .icon1:before{
	background-image: url(../images/solution1-icon1.png);
}
.tab-wrap > .icon2:before{
	background-image: url(../images/solution1-icon2.png);
}
.tab-wrap > .icon3:before{
	background-image: url(../images/solution1-icon3.png);
}
.tab-wrap > .icon4:before{
	background-image: url(../images/solution1-icon4.png);
}
.tab-wrap > .icon5:before{
	background-image: url(../images/solution1-icon5.png);
}
.tab-wrap > .icon6:before{
	background-image: url(../images/solution1-icon6.png);
}
.tab-wrap .icon-arr{
	display: inline-block;
	padding-top: 120px;
	width: 94px;
	height: 81px;
}
.tab-wrap > div b{
	color: #009cfc;
}
.tab-wrap > .icon3 span{
	display: block;
	margin: 30px auto 0;
}
.solution3 > h3 {
	margin-bottom: 10px;
	padding: 15px 0;
	background-color: #e6e6e6;
	text-align: center;
	font-weight: 500;
	font-size: 21px;
	color: #586077;
}
.solution5 > h3 {
	padding: 15px 0;
	background-color: #8a9ba6;
	text-align: center;
	font-weight: 500;
	font-size: 21px;
	color: #fff;
}

.solution4-list{
	overflow: hidden;
}
.solution4-list li{
	float: left;
	width: 17%;
	margin: 0 4%;
	text-align: center;
}
.solution4-list li span{
	display: inline-block;
	padding: 15px;
}
.solution4-process > div{
	width: 51.69491525423729%;
	margin: 90px auto 0;
	padding-bottom: 100px;
	background: url(../images/bottom-arr.png) 50% 100% no-repeat;
}
.solution4-process-info{
	margin-top: 100px;
	overflow: hidden;
}
.solution4-process-info > li{
	float: left;
	width: 33%;
	margin-right: 0.3%;
}
.solution4-process-info > li > h3{
	position: relative;
	padding: 15px 0;
	background-color: #586077;
	font-weight: 500;
	font-size: 21px;
	color: #fff;
	text-align: center;
}
.solution4-process-info > li > h3:after{
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -4px;
	border: 8px solid transparent;
	border-top-color: #586077;
}
.solution4-process-info > li > ul{
	margin: 50px 20px 0;
	padding: 220px 0 40px;
	min-height: 370px;
	border-bottom: 1px solid #d5d7dd;
	background: url(../images/solution4-icon1.png) 50% 0 no-repeat;
}
.solution4-process-info > li:nth-child(2) > ul{
	background-image: url(../images/solution4-icon2.png);
}
.solution4-process-info > li:nth-child(3) > ul{
	background-image: url(../images/solution4-icon3.png);
}
.solution4-process-info > li > ul > li{
	font-size: 18px;
	color: #586077;
}
.solution4-process-info p{
	padding: 20px;
	font-size: 18px;
	color: #34b8dd;
	text-align: center;
}
.smartcup-tit-wrap{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 45.76271186440678%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2fafe+0,84c0cb+100 */
	background: #f2fafe; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f2fafe 0%, #84c0cb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #f2fafe 0%,#84c0cb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #f2fafe 0%,#84c0cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fafe', endColorstr='#84c0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.smartcup-tit-wrap-inner{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/smartcup-girl.png) 90% 100% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.smartcup-tit-wrap-inner > div{
	margin: 7% 0px 3% 15%;
	width: 171px;
	height: 177px;
}
.smartcup-tit-wrap-inner > ul{
	margin-left: 10%;
}
.smartcup-tit-wrap-inner > ul li{
	font-size: 20px;
	color: #586077;
}
.smartcup-tit-wrap-inner > ul li:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 6px;
	height: 6px;
	background-color: #586077;
	border-radius: 50%;
}
.smartcup-img{
	position: relative;
	width: 78.8135593220339%;
	padding-bottom: 28%;
	margin: 125px auto 37px;
	overflow: hidden;
}
.smartcup-img > div{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/smartcup-img1.jpg) 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.smartcup-img p{
	display: none;
}
.smartcup-service h3{
	padding-top: 96px;
	width: 480px;
	height: 236px;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	color: #586077;
	background: url(../images/smartcup-arr.png) 0 0 no-repeat;
}
.smartcup-service{
	text-align: center;
}
.smartcup-service li{
	position: relative;
	display: inline-block;
	margin: 2%;
	padding-top: 50px;
	width: 176px;
	height: 176px;
	border-radius: 50%;
	background-color: #586077;
	/*box-shadow: 0 0 5px #8fcfff inset;*/
	font-weight: 500;
	font-size: 21px;
	color: #afd2ff;
}
.smartcup-service li:after{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #8fcfff url(../images/smartcup-icon1.png) 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	transition:all .45s ease;
}
.smartcup-service li:nth-child(2):after{
	background-image: url(../images/smartcup-icon2.png);
}
.smartcup-service li:nth-child(3):after{
	background-image: url(../images/smartcup-icon3.png);
}
.smartcup-service li:nth-child(4):after{
	background-image: url(../images/smartcup-icon4.png);
}
.smartcup-service li:nth-child(5):after{
	background-image: url(../images/smartcup-icon5.png);
}

.smartcup-service li:hover:after{
	transform: scale(0.2);
	opacity: 0;
}
/*R & D*/
.dietpic-tit-wrap{
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 45.76271186440678%;
	background-color: #f3abad;
	background: -moz-linear-gradient(-45deg,  #fef1f3 0%, #f5b0b2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #fef1f3 0%,#f5b0b2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #fef1f3 0%,#f5b0b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef1f3', endColorstr='#f5b0b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.dietpic-tit-wrap-inner{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/dietpic-girl.png) 90% 100% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.dietpic-tit-wrap h3{
	width: 320px;
	height: 140px;
	margin-top: 12%;
	margin-left: 16%;
}
.dietpic-tit-wrap p{
	min-width: 431px;
	margin-top: 20px;
	margin-left: 16%;
	font-size: 19px;
	color: #586077;
}
.dietpic-info-wrap{
	margin-top: 80px;
}
.dietpic-tit{
	padding: 19px 0 0 221px;
	min-height: 177px;
	background: url(../images/dietpic-icon1.png) 0 0 no-repeat;
	
}
.dietpic-tit > h3{
	width: 160px;
	height: 44px;
}
.dietpic-tit > dl{
	margin-top: 25px;
	font-size: 18px;
	color: #586077;
}
.dietpic-tit dd:before{
	content: ': ';
}
.dietpic-img{
	width: 62.71186440677966%;
	margin: 30px auto 60px;
}
.dietpic-info{
	position: relative;
}
.dietpic-info .img1{
	display: block;
	float: left;
	width: 591px;
}
.dietpic-info .icon-arr{
	display: block;
	float: left;
	margin: 163px 5% 0 5%;
	width: 84px;
	height: 72px;
}
.dietpic-info .img2{
	display: block;
	float: left;
	margin-top: 110px;
	width: 177px;
}


/* 홍보센터 */

.family-site-info > .cd-tabs-navigation > li {
	width: 19.7%;
	margin-right: 0.3%;
}
.family-logo {
	display: block;
	max-width: 471px;
	margin:0 auto 20px;
	text-align:center;
	border: 1px solid #dadde0;
}
.tab05-wrap {
	margin-top: 100px;
	padding-bottom: 50px;
	border-bottom: 1px dashed #c6c6c6;
}
.tab05-wrap:first-child {
	margin-top: 0;
}
.tab05-wrap > h3 {
	font-weight: 500;
	font-size: 21px;
	color: #009cfc;
}
.tab05-wrap ul li {
	display: block;
}
.tab05-wrap > ul {
	margin-top: 30px;
}
.list > li {
	margin-top: 20px;
}
.list > li:before {
	content: '';
	display: inline-block;
	margin: 0 7px 2px 0;
	border: 5px solid transparent;
	border-left-color: #586077;
}
.con-box {
	position: relative;
	background-color: #e6e6e6;
	padding: 2.542372881355932% 5.084745762711864%;
	font-size: 15px;
}
.con-box > li {
	margin-top: 10px;
}
.con-box > li > strong {
	display: inline-block;
	min-width: 100px;
	margin-right: 30px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.con-box a[href^="tel"]{
	color: #586077;
}
.search{
	text-align: right;
}
.search > select{
	display: inline-block;
	margin-right: 3px;
	width: 13.89830508474576%;
	height: 37px;
	font-family: 'Noto Sans KR';
	border: 1px solid #d5d7dd;
}
.search > input{
	display: inline-block;
	margin-right: 3px;
	padding-left: 10px;
	width: 24.32203389830508%;
	height: 37px;
	font-family: 'Noto Sans KR';
	border: 1px solid #d5d7dd;
}
.search > a{
	display: inline-block;
	width: 67px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	color: #fff;
	background-color: #586077;
}
.board-wrap {
	margin-top: 11px;
}
.board-wrap table{
	width: 100%;
	font-size: 18px;
}
.board-wrap table th{
	position: relative;
	padding: 14px 0;
	background-color: #586077;
	color: #fff;
}
.board-wrap table th:after{
	content: '';
	display: block;
	position: absolute;
	top: 17px;
	right: 0;
	width: 1px;
	height: 22px;
	background-color: #acb0bb;
}
.board-wrap table th:last-child:after{
	display: none;
}
.board-wrap table td{
	padding: 13px 0;
	text-align: center;
	border-bottom: 1px solid #d4d6dc;
}
.board-wrap table tr:hover td{
	background-color: #f5f5f5;
}
.new{
	display: inline-block;
	margin-left: 7px;
}
.paging{
	padding: 29px 0;
	text-align: center;
}
.paging > a{
	display: inline-block;
	margin-right: -4px;
	width: 33px;
	height: 33px;
	line-height: 33px;
	border: 1px solid #ddd;
}
.paging > a.btn-prev{
	text-indent: -9999px;
	background: url(../images/icon-prev.png) 50% no-repeat;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.paging > a.btn-next{
	text-indent: -9999px;
	background: url(../images/icon-next.png) 50% no-repeat;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.paging > a.on{
	background-color: #eee;
}

.view-tit{
	padding: 14px 20px 14px 30px;
	background-color: #586077;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
}
.view-tit > strong{
	display: block;
	float: left;
	padding-right: 30px;
	border-right: 1px solid #acb0bb;
}
.view-tit > h3{
	display: block;
	float: left;
	padding-left: 30px;
}
.view-tit > span{
	display: block;
	float: right;
	padding-left: 20px;
	border-left: 1px solid #acb0bb;
}
.view-con{
	padding: 2.5%;
	min-height: 500px;
	line-height: 2;
	border: 1px solid #d5d7dd;
	border-top: none;
	/*overflow-y: auto;*/
}
.view-article > div{
	padding: 15px 25px;
	border-bottom: 1px solid #d4d6dc;
	font-size: 15px;
}
.view-article > div > b{
	display: inline-block;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #d4d6dc;
}
.board-btns{
	padding: 29px 0;
	text-align: right;
}
.board-btns > a{
	display: inline-block;
	padding: 10px 20px;
	background-color: #586077;
	color: #fff;
	transition:all 0.45s ease;
}
.board-btns > a:after{
	content: '\f054';
	display: inline-block;
	margin-left: 10px;
	font-family: 'FontAwesome';
}
.board-btns > a:hover{
	background-color: #2f3c61;	
}
.inquiry-tit{
	font-weight: 300 !important;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
}
.inquiry-tit > strong{
	font-weight: 500;
	font-size: 48px;
}
.contact{
	width: 46.61016949152542%;
	margin: 0 auto;
	padding-bottom: 78px;
	text-align: center;
	border-bottom: 1px solid #8b9ca7;
}
.contact > dl{
	position: relative;
	display: inline-block;
	padding-top: 59px;
	width: 189px;
	height: 189px;
	border-radius: 50%;
	background-color: #8fcfff;
	color: #3a5668;
	overflow: hidden;
}
.contact > dl:first-child{
	margin-right: 13.22033898305085%;
}

.contact > dl:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #586077 url(../images/inquiry-icon2.png) 0 0 no-repeat;
	transition: all .45s ease;
}
.contact > dl:first-child:after{
	background-image: url(../images/inquiry-icon1.png);
}
.contact > dl:hover:after{
	transform: scale(0.3);
	opacity: 0;
}
.contact > dl > dt{
	font-weight: 500;
	font-size: 24px;
}
.contact > dl > dd{
	font-size: 21px;
}
.inquiry-wrap h3{
	padding: 110px 0 30px;
	text-align: center;
	font-weight: 500;
	font-size: 48px;
	color: #3a5668;
}
.privacy-info{
	border: 1px solid #d5d7dd;
}
.privacy-info > h4{
	padding: 14px 30px;
	background-color: #586077;
	font-size: 18px;
	color: #fff;
}
.privacy-con{
	height: 380px;
	overflow-y: auto;
	padding: 2.5%;
}
.agree-select{
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #d5d7dd;
	font-size: 16px;
	color: #586077;
}
.inquiry-layout{
	width: 100%;
	font-size: 18px;
	color: #586077;
}
.inquiry-layout caption{
	display: none;
}
.inquiry-layout th,
.inquiry-layout td{
	padding: 7px 0;
	border: 1px solid #d5d7dd;
	vertical-align: middle;
}
.inquiry-layout td{
	padding-left: 20px;
}
.form-row{

}

.form-row > input[type="text"]{
	width: 30%;
	border: 1px solid #000;
}
.form-row > select{
	width: 20%;
	height: 37px;
	border: 1px solid #d5d7dd;
	font-family: 'Noto Sans KR';
}
.form-row input[type="text"]{
	padding: 0 10px;
	height: 37px;
	border: 1px solid #d5d7dd;
	font-family: 'Noto Sans KR';
}
.inquiry-type{
	margin-right: 30px;
}
.form-row > textarea{
	width: 98%;
	height: 250px;
	padding: 10px;
	border: 1px solid #d5d7dd;
	font-family: 'Noto Sans KR';
}
.inquiry-wrap .info{
	padding-left: 20%;
	font-size: 16px;
}
.inquiry-wrap .info > p{
	padding: 10px 0;
}
.inquiry-wrap .info > p:before{
	content: '\f069';
	display: inline-block;
	margin-right: 5px;
	font-family: 'FontAwesome';
	color: #34b8dd;
	font-size: 14px;
	
}
.sitemap-list{
	overflow: hidden;
}
.sitemap-list dl{
	float: left;
	width: 19%;
	margin: 0 0.5%;
}
.sitemap-list dt{
	padding: 9px 0;
	background-color: #586077;
	font-weight: 500;
	font-size: 24px;
	color: #8b9ca7;
	text-align: center;
}
.sitemap-list dd{
	padding: 10px 0;
	padding-left: 24px;
	border-bottom: 1px solid #e2e6e9;
	font-size: 16px;
	color: #586077;
}
.sitemap-list dd:last-child{
	border-color: #cfd4d8;	
}
/* RWD Settings */
@media all and (max-width:1200px) {
	.solution-list li > a {
		padding-top: 120px;
		width: 190px;
		height: 190px;
	}
	.solution-list li > a {
		width: 170px;
		height: 170px;
		font-size: 14px;
	}
	.lifrecare-list li{
		width: 150px;
		height: 150px;
		padding-top: 47px;
		font-size: 20px;
	}
}
@media all and (max-width:1000px) {
	.visual-wrap,
	.sub2-wrap {
		padding-top: 80px;
	}
	.sub-tit:after {
		top: 65%;
		margin-top: 50px;
		width: 100% !important;
	}
	.solution-list li > a {
		padding-top: 100px;
		width: 150px;
		height: 150px;
		font-size: 14px;
	}
	.solution-list li > a:before {
		top: 25px;
		margin-left: -40px;
		width: 80px;
		height: 62px;
	}
	.link-service-list li,
	.tab2-info-list li {
		width: 32.3%;
		min-height: 540px;
	}
	.tab2-info-list li:before {
		width: auto;
	}
	.cd-tabs > .cd-tabs-navigation > li > a {
		font-size: 17px;
	}
	.tab2-info {
		margin-left: 15%;
		padding-left: 35%;
	}
	.btn-pnt {
		width: 50%;
	}
	.dietpic-tit-wrap h3{
		margin-top: 5%;
		margin-left: 8%;
	}
	.dietpic-tit-wrap p{
		margin-left: 8%;
	}
	.dietpic-info > span{
		float: none !important;
		margin: 0 auto;
		
	}
	.dietpic-info .icon-arr{
		margin: 50px auto;
		transform: rotate(90deg);
	}
	.dietpic-info .img2{
		margin: 0 auto;
	}
	.location-info:before {
		display: none;
	}
	.location-info > div {
		float: none;
		width: auto;
		padding: 2% 5%;
		font-size: 16px;
	}
	.contact{
		width: 90%;
	}
}

@media all and (max-width:900px){
	.smartcup-tit-wrap{
		padding-bottom: 122.2222222222222%;
	}
	.smartcup-tit-wrap-inner{
		background-position: 50% 100%;
		-webkit-background-size: 70%;
		background-size: 70%;
	}
	.smartcup-tit-wrap-inner > div{
		margin: 7% auto 3%;
	}
	.smartcup-tit-wrap-inner > ul{
		margin-left: 20%;
	}
	.smartcup-img{
		padding-bottom: 138.4931506849315%;	
	}
	.smartcup-img > div{
		background-image: url(../images/smartcup-img1-1.jpg);	
	}
	.smartcup-service li{
		width: 150px;
		height: 150px;
	}
	.sitemap-list dl{
		width: 32.333333333%;
		margin: 5% 0.5%;
	}
}
@media all and (max-width:800px) {
	.sub-wrap,
	.vision-wrap,
	.ci-wrap,
	.history-wrap {
		padding: 50px 0 100px;
	}
	.solution-list {
		padding: 0 15px;
		background-color: #fff;
		border-radius: 100px;
	}
	.solution-list li > a {
		width: 100%;
		background-color: transparent;
	}
	.service-wrap,
	.solution-wrap,
	.check-wrap {
		padding: 80px 0;
	}
	.traffic-info > ul{
		margin-left: 20px;
	}
	.tab2-info {
		margin-left: 0;
		padding-left: 10%;
	}
	.tab2-info:before {
		display: none;
	}
	.customer-link li,
	.customer-link2 li {
		width: 33.3333333%;
	}
	.medical-wrap > div > ul {
		margin-left: 10%;
	}
	.mall-wrap > div .img-wrap > span {
		width: 95%;
	}
	.btn-pnt {
		width: 70%;
	}
	.care-process > span{
		width: 95%;
	}
	.tab-wrap .icon-arr{
		width: 70px;
		height: 60px;
	}
	.solution4-list li{
		width: 34%;
		margin: 0 8% 8%;
	}
	.solution4-process > div{
		width: 80%;
	}
	.solution4-process-info > li > ul > li{
		font-size: 16px;	
	}
	.dietpic-tit-wrap{
		padding-bottom: 122.2222222222222%;
	}
	.dietpic-tit-wrap-inner{
		background-position: 50% 100%;
		-webkit-background-size: 60%;
		background-size: 60%;
	}
	.dietpic-tit-wrap h3{
		width: 250px;
		height: 110px;
		margin: 8% auto 20px;
	}
	.dietpic-tit-wrap p{
		min-width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.smartcup-tit-wrap-inner{
		-webkit-background-size: 60%;
		background-size: 60%;
	}
	.dietpic-img{
		width: 80%;
	}
	.dietpic-info .img1{
		width: 90%;
	}
	.smartcup-service li:after{
		display:none;
	}
	.family-site-info > .cd-tabs-navigation > li > a:before {
		display: none;
	}
	.solution5 > h3 {
		padding: 15px;
	}
	.pantone-wrap > div li span {
		display: block;
	}
	.contact dl:after,
	.lifrecare-list li:after{
		display: none;
	}
	.inquiry-type{
		display: block;
		margin: 0 0 5px 0;
	}
	.board-wrap table{
		font-size: 14px;
	}
}
@media all and (max-width:600px) {
	.inner-wrap > h2 {
		font-size: 30px;
	}
	/*.greeting-list > p {
		padding: 0 5%;
	}*/
	.slogan1 {
		width: auto;
	}
	.sub-wrap,
	.vision-wrap,
	.ci-wrap,
	.history-wrap,
	.service-wrap,
	.solution-wrap,
	.check-wrap,
	.medical-wrap,
	.mall-wrap{
		padding: 40px 0;
	}
	.service-list li {
		display: block;
		float: none;
		width: auto;
		height: 300px;
	}
	.solution-list {
		background-color: transparent;
		border-radius: 0;
	}
	.solution-list li {
		float: none;
		width: auto;
		margin-bottom: 20px;
	}
	.solution-list li > a {
		padding-top: 130px;
		width: 200px;
		height: 200px;
		background-color: #fff;
		font-weight: 500;
		font-size: 17px;
		color: #3a566c;
		transition: background-color .5s ease;
	}
	.solution-list li > a:before {
		top: 35px;
		left: 50%;
		margin-left: -50px;
		width: 100px;
		height: 82px;
	}
	.tab-wrap > div{
		display: block;
		width: 100%;
	}
	.tab-wrap .icon-arr{
		display: block;
		margin: 40px auto;
		padding: 0;
		transform: rotate(90deg);
	}
	.tab-wrap > .icon3 span{
		width: 90%;
	}
	.check-list li {
		float: none;
		width: auto;
	}
	.vision-wrap {
		padding: 40px 0 80px;
	}
	.slogan-wrap {
		width: 80%;
	}
	.slogan-wrap > p {
		font-size: 24px;
	}
	.mission li {
		width: 50%;
		min-height: 385px;
	}
	.mission li > p {
		width: 80%;
	}
	.link-service-list li,
	.tab2-info-list li {
		width: 49%;
		min-height: 500px;
	}
	.tab1-wrap > p,
	.tab2-wrap > p,
	.tab3-wrap > p {
		font-size: 18px;
	}
	.cd-tabs > .cd-tabs-navigation > li > a {
		font-size: 15px;
	}
	.cd-tabs > .cd-tabs-navigation > li > a:before {
		border: none;
	}
	.tab-con {
		float: none;
		width: auto;
	}
	.tab-con > ul {
		margin-left: 10px;
	}
	.history-table > h3 {
		float: none;
		width: auto;
		margin-right: 0;
	}
	.history-table > ul {
		float: none;
		width: auto;
	}
	.ci-wrap h3 {
		font-size: 30px;
	}
	/* 영역이 너무 작을 때 탭 */
	.smart-after-info.cd-tabs > .cd-tabs-navigation > li{
		width: 49.7%;
		margin-top: 2px;
	}
	.smart-after-info.cd-tabs > .cd-tabs-navigation > li > a{
		min-height: 25px;
		padding: 12px 0;
		font-size: 14px;
	}
	.smart-after-info.cd-tabs > .cd-tabs-navigation a.selected:after{
		display: none;
	}
	.family-site-info.cd-tabs > .cd-tabs-navigation > li{
		width: 49.7%;
		margin-top: 2px;
	}
	.family-site-info.cd-tabs > .cd-tabs-navigation > li > a{
		min-height: 25px;
		padding: 12px 0;
		font-size: 14px;
	}
	.family-site-info.cd-tabs > .cd-tabs-navigation a.selected:after{
		display: none;
	}
	.link-service > h3,
	.medical-wrap > div > h3 {
		font-size: 40px;
	}
	.solution4-process-info > li{
		float: none;
		width: auto;
		margin-top: 30px;
		margin-right: 0;
	}
	.solution4-process-info > li > ul > li{
	font-size: 18px;
}
	.dietpic-tit-wrap p{
		font-size: 16px;
	}
	.dietpic-tit{
		background-position: 50% 0;
		padding: 200px 0 0 0;
	}
	.dietpic-tit > h3{
		margin: 0 auto;
	}
	.smartcup-tit-wrap-inner > div{
		width: 145px;
		height: 157px;
	}
	.smartcup-tit-wrap-inner > ul{
		margin-left: 10%;
	}
	.smartcup-tit-wrap-inner > ul li{
		font-size: 16px;
	}
	.smartcup-service h3{
		width: 90%;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	.contact{
		width: 100%;
	}
	.contact > dl:first-child{
		margin-right: 5%;
	}
	.search > input{
		width: 50%;
	}
	.view-tit{
		padding: 10px;
		font-size: 16px;
	}
	.view-tit > strong,
	.view-tit > h3,
	.view-tit > span{
		padding: 0 10px;
	}
	.view-article > div{
		padding: 10px;
	}
	.sitemap-list dl{
		width: 49%;
		margin: 5% 0.5%;
		min-height: 300px;
	}
}
@media all and (max-width:480px) {
	.breadcrumbs a,
	.breadcrumbs strong {
		padding: 13px 5px;
	}
	.nav li {
		width: 90px;
	}
	.mission li {
		float: none;
		width: auto;
		margin: 5% 0;
	}
	.cd-tabs > .cd-tabs-navigation > li > a {
		min-height: 64px;
	}
	
	.customer-link li,
	.customer-link2 li {
		width: 40%;
		margin: 5%;
	}
	.btn-pnt {
		width: 90%;
		font-size: 15px;
	}
	.history-table > ul li,
	.tab-con > ul > li {
		font-size: 15px;
	}
	.con-box > li {
		margin-top: 20px;
	}
	.con-box > li > strong {
		display: block;
		margin: 0 0 5px 0;
		border-right: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	/* 영역이 너무 작을 때 탭 */
	.link-service-info.cd-tabs > .cd-tabs-navigation > li{
		width: 49.7%;
		margin-top: 2px;
	}
	.link-service-info.cd-tabs > .cd-tabs-navigation > li > a{
		min-height: 25px;
		padding: 12px 0;
		font-size: 14px;
	}
	.link-service-info.cd-tabs > .cd-tabs-navigation a.selected:after{
		display: none;
	}
	.link-service > h3,
	.medical-wrap > div > h3 {
		font-size: 24px;
	}
	.ci-wrap h3 + p,
	.link-service > p,
	.medical-wrap > div > ul li {
		font-size: 16px;
	}
	.lifrecare-list li{
		margin: 5% 0;
		width: 189px;
		height: 189px;
		padding-top: 59px;
		font-size: 24px;
	}
	.pnt-wrap > p {
		padding: 0 5%;
		font-size: 18px;
	}
	.pntmall-wrap ul {
		margin: 0 5%;
	}
	.pantone-wrap > div {
		float: none;
		width: auto;
		margin-bottom: 20px;
	}
	.ban-wrap > ul li {
		width: 50%;
	}
	.smartcup-tit-wrap-inner{
		padding-right: 10px;
		background-image: none;
	}
	.dietpic-tit-wrap h3{
		margin-top: 3%;
	}
	.dietpic-tit-wrap-inner{
		-webkit-background-size: 50%;
		background-size: 50%;
	}
	.dietpic-info .img1{
		width: 100%;
	}
	.dietpic-tit > dl{
		font-size: 16px;
	}
	.contact > dl{
		float: none;
		margin: 20px 0 !important;
	}
	.inquiry-wrap h3{
		padding: 55px 0 15px;
		font-size: 36px;
	}
	.privacy-con{
		height: 200px;
	}
	.board-wrap{
		overflow-x: auto;
	}
	.board-wrap table{
		width: 600px;
	}
	.view-tit > span{
		font-size: 12px;
	}
	.sitemap-list dt{
		font-size: 18px;
	}
	.sitemap-list dd{
		font-size: 14px;
		padding-left: 10px;
	}
	
}
@media all and (max-width:380px) {
	.link-service-list li,
	.tab2-info-list li {
		width: 100%;
		margin-right: 0;
	}
	.ban-wrap > ul li {
		width: 100%;
	}
	.dietpic-tit-wrap h3{
		width: 239px;
		height: 106px;
	}
	.dietpic-tit-wrap p{
		width: 80%;
		font-size: 14px;
	}
}
